/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map_canvas2 {
  height: 80%;
  width: 80%
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 500px;
  margin: 0;
  padding: 0;
}
